.solving-page_banner {
    width: 100%;
    height: 80px;
    background-color: rgb(40, 116, 237);
    opacity: 0.8;
    min-height: 50px;
    border-radius: 5px;
    position: relative;
    top: 20px;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_text {
    color: white;
    font-size: 18px;
}