.popup_container {
  background-color: #ffff;
  padding: 10px;
  opacity: 0.9;
}

.popup_buttons {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 430px) {
  .popup_container {
    max-width: 200px;
    font-size: 14px;
    position: relative;
    top: -200px;
  }

  .popup_buttons {
    max-width: 180px;
  }

  .button_continue,
  .button_back {
    min-width: 20px !important;
    width: 85px;
    height: 30px;
    font-size: 12px;
  }
}
