.bounding-box_wrapper {
    display: flex;
    background-color: #b6bbd0a8;
}

.box_image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.bounding-box {
    position: absolute;
    border: 2px solid blue;
}


@media screen and (max-width: 375px) {
    .box_image {
        max-width: 300px;
    }
    .box_image img {
        width: 100%;
    }

    .bounding-box {
        width: 70px !important;
        height: 50px !important;
    }
}

@media screen and (max-width: 414px) {
    .box_image img {
        width: 100%;
    }

    .bounding-box {
        width: 90px !important;
        height: 70px !important;
    }
}

@media screen and (max-width: 430px) {
    .box_image img {
        width: 100%;
    }

    .bounding-box {
        width: 90px !important;
        height: 70px !important;
    }
}