.bounding-box_wrapper {
  display: flex;
  background-color: #b6bbd0a8;
}

.box_image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.bounding-box {
  position: absolute;
  border: 2px solid blue;
}

@media screen and (max-width: 430px) {
  .bounding-box_wrapper {
    display: flex;
    background-color: #b6bbd0a8;
    justify-content: center;
  }

  .box_image {
    max-width: 350px;
  }
  .box_image img {
    width: 100%;
  }

  .bounding-box {
    position: absolute;
  }
}
