.bounding-box_wrapper {
    display: flex;
    position: relative;
}

.box_image {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: #b6bbd0a8;
}

.bounding-box {
    position: absolute;
    border: 2px solid blue;
    resize: both;
    overflow: hidden
}

.bounding-box:hover {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
  }